* {
    /* border: 1px solid black;
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

header {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(9, 105, 161) 0%, rgb(0, 6, 94) 100%);
    color: honeydew;
    padding: 1rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    justify-content: space-between;
}

#left-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

#left-column * {
    width: 100%;
    margin-bottom: .8rem;
}

#search-container {
    border-bottom: 2px solid #121;
}

#search-container label {
    font-size: 1.8rem;
}

.btn {
    background-color: gray;
    color: #121;
    border-radius: .5rem;
    font-size: 1rem;
    padding: .5rem 0;
}

#city-search-button {
    background-color: rgb(21, 84, 221);
    color: honeydew;
}

#city-search {
    font-size: 1.5rem;
    padding: .5rem;
}

.btn.deleteable {
    background-color: rgb(221, 21, 21);
}

#delete-container {
    text-align: center;
}

#delete-container span {
    display: inline-block;
    width: auto;
    padding: 1rem;
}

#delete-city,
#remove-all-cities {
    display: block;
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    /* make it red */
    filter: invert(11%) sepia(98%) saturate(7072%) hue-rotate(355deg) brightness(95%) contrast(96%);
}

#right-column {
    width: 73.5%;
}

#current-forecast {
    margin-right: 1rem;
    border: 1px solid black;
    padding: 0 .5rem;
}

#city-title-container * {
    display: inline-block;
}

#city-title-container h2 {
    margin-top: .3rem;
}

#city-title-container img {
    vertical-align: middle;
}

#current-forecast ul {
    margin: 1rem 0;
}

#current-forecast li {
    margin: 1rem 0;
    list-style: none;
}

.uv-index {
    color: black;
    padding: .2rem .5rem;
    border-radius: .5rem;
}

#fiveDay-forecast {
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#fiveDay-forecast h3 {
    width: 100%;
    padding: 1rem 0 .3rem 0;
}

.fiveDay-box {
    width: 17.8%;
    background-color: #33475A;
    color: honeydew;
    padding: .5rem;
}

.fiveDay-box div {
    margin: .5rem 0;
}